.blog-page {
    .banner-small {
        background-image: url("../img/Blog/bannerSP.jpg");
    }

    #blog {
        p {
            margin-top: 20px !important;
        }

        h3 {
            font-family: "DarkerGrotesque-Bold", sans-serif;
        }

        .see-more {
            color: $color-primary;
        }

        .right {
            background: $color-secondary;
            border-radius: 10px;

            .search {
                .form-control
                {
                    background-color: $color-secondary;
                    border: 1px solid $color-primary;
                    border-right: none;
                }

                .input-group-append {
                    .input-group-text {
                        background-color: $color-secondary;
                        border: 1px solid $color-primary;
                        border-top-right-radius: 0.25rem;
                        border-bottom-right-radius: 0.25rem;
                        border-left: none;
                    }
                }
            }

            .product-link,
            .new-article {
                border-bottom: 1px solid $color-primary;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .blog-page {
        #blog {
            .right {
                p {
                    margin-top: 0 !important;
                }
            }
        }
    }
}
