.products-page {

    .banner-small {
        background-image: url('../img/product-raucu/bannerSP.png');

        &.trai-cay {
            background-image: url('../img/product-traicay/bannerSP.png');  
        }

        &.ngu-coc {
            background-image: url('../img/product-ngucoc/bannerSP.png');  
        }
    }

    .sanpham {
        h4 {
            text-align: center;
            color: $color-yellow;
            font-weight: bold;
            margin-top: -5px;
        }

        p {
            text-align: center;
            color: #58732f;
            font-weight: 600;
            margin-top: 10px;
        }

        .item-info {
            margin: 10px 0;
            
            p {
                text-transform: capitalize;
                font-size: 30px;
            }

            .item-hover {
                position: relative;

                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 20%;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    transition: 0.3s ease;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 15px;
                    z-index: 2;
                }
            }

            .icon {
                color: #f2f0eb;
                font-size: 30px;
                text-align: center;
            }

            &:hover {
                .overlay {
                    opacity: 1; 
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .products-page {
        .sanpham {
            .item-info {
                .item-hover {
                    .overlay {
                        bottom: 18%;
                    }
                }

            }
        }
    }
}


@media screen and (max-width: 576px) {
    .products-page {
        .tag-product {
            ul {
                flex-direction: column;
                li {
                    margin: 0 !important;
                }
                button {
                    width: 100%;
                    margin: 5px 0 !important;
                }
            }

            .dropdown {
                width: 100%;
                text-align: center;
            }
            
        }

        .sanpham {
            .item-info {
                .item-hover {
                    .overlay {
                        bottom: 15%;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 375px) {
    .products-page {
        .sanpham {
            .item-info {
                .item-hover {
                    .overlay {
                        bottom: 17%;
                    }
                }
            }
        }
    }
}
