/*///////////[ COMMON ]//////////*/
.text-bold {
    font-family: 'DarkerGrotesque-SemiBold', sans-serif;
}

.dropdown-menu {
    .dropdown-item {
        padding: 10px 20px !important;
        
        &:hover {
            color: $color-primary !important;
        }
    }
}

.bg-green {
    background-color: $color-primary !important;
}

.bg-beie {
    background-color: $color-secondary;
}

.title {
    font-family: 'Charm-Bold', sans-serif;
    font-size: 40px;
}

.title-section {
    font-family: 'Charm-Bold', sans-serif;
    font-size: 40px;
    color: $color-primary;
}

.btn-white {
    background-color: white;
    color: $color-primary;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid $color-primary;
}

.btn-green {
    color: $color-secondary;
    background-color: $color-primary;
    padding: 10px 40px;
    border-radius: 10px;

    &:hover {
        color: $color-secondary;
        background-color: $color-green-1;
    }

    &.btn-login {
        padding: unset;
    }
}

.banner-small {
    background-image: url('../../img/about-page/banner-about.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 325px;
    @include d-flex(row, center, center);
        
    .content {
        .left {
            @include d-flex(row, unset, center);
            button {
                font-size: 24px;
                font-family: 'Charm-Regular', sans-serif;
                padding: 10px 20px;
            }
        }
        .right {
            color: $color-secondary;
        }
    }
}

#pagination {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .page-item {
        .page-link {
            color: $color-primary;
        }

        &.active {
            .page-link {
                background-color: $color-primary;
                color: $color-secondary;
                border: 1px solid $color-primary;
            }
        }
    }
}

.btn-link {
    color: $color-primary !important;

    &:focus {
        outline: 0 !important;
        box-shadow: none;
    }
}

.form-control {
    border: 1px solid $color-primary;
}

.accordion {
    .card {
        border: none;

        .card-header {
            background: none;
            margin-bottom: 0;
            border: 1px solid $color-primary;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-body {
            border: 1px solid $color-primary;
            border-top: none;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

@media screen and (max-width: 576px) {
    #pagination {
        .right {
            p {
                text-align: left !important;
            }
        }
    }
}



