/*///////////[ HEADER ]//////////*/
header {
    .navbar {
        .nav-item {
            .nav-link {
                text-transform: uppercase;
                color: $color-secondary;
                padding: 5px 20px;
            }

            &.active {
                .nav-link {
                    border: 1px solid $color-secondary;
                    border-radius: 10px;
                }
            }
        }
    }
}
