/*///////////[ CUSTOM ]//////////*/
.carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-indicators {
    li {
        width: 20px;
        height: 20px;
        border-radius: 50%;

        &.active {
            background-color: $color-primary !important;
        }
    }
}

.btn-outline-success {
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
        color: #fff;
        background-color: $color-primary;
        border-color: $color-primary;
    }
}

.modal-header .close {
    padding: 1rem;
    margin: -2.5rem -1rem -1rem auto;
    font-size: 3rem;
}

.modal-title {
    font-family: 'Charm-Bold', sans-serif;
    color: $color-primary;
}

@media (max-width: 768px){
    #modalLogin,
    #modalSignUp {
        img {
            display: none;
        }
    }

    .modal {
        overflow: scroll;
    }
}