/*///////////[ FONTS ]//////////*/
@font-face {
	font-family: Charm-Bold;
	src: url('../fonts/Charm/Charm-Bold.ttf');
}

@font-face {
	font-family: Charm-Regular;
	src: url('../fonts/Charm/Charm-Regular.ttf');
}

@font-face {
	font-family: DarkerGrotesque-Black;
	src: url('../../fonts/Darker_Grotesque/DarkerGrotesque-Black.ttf');
}

@font-face {
	font-family: DarkerGrotesque-Bold;
	src: url('../../fonts/Darker_Grotesque/DarkerGrotesque-Bold.ttf');
}

@font-face {
	font-family: DarkerGrotesque-ExtraBold;
	src: url('../../fonts/Darker_Grotesque/DarkerGrotesque-ExtraBold.ttf');
}

@font-face {
	font-family: DarkerGrotesque-Light;
	src: url('../../fonts/Darker_Grotesque/DarkerGrotesque-Light.ttf');
}

@font-face {
	font-family: DarkerGrotesque-Medium;
	src: url('../../fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf');
}

@font-face {
	font-family: DarkerGrotesque-Regular;
	src: url('../../fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf');
}

@font-face {
	font-family: DarkerGrotesque-SemiBold;
	src: url('../../fonts/Darker_Grotesque/DarkerGrotesque-SemiBold.ttf');
}

